body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    text-align: center
}

#container {
    background-color: rgb(9, 48, 48);
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column;  */
    justify-content: flex-start;
    /*justify-content: flex-end;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly; 
    first we can set the flex direction & later we can set 
    the justify content bcoz it takes the flex dircttion for 
    justify content*/
}

#container div {
    width: 150px;
    height: 150px;
}