section {
    background-color: aquamarine;
    width: 500px;
    height: 400px;
}

div {
    background-color: lightcoral;
    width: 50%;
    height: 50%;
}

h1 {
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;
}